<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création de coffre</title>
</head>
<body>
    <h1>Création de coffre</h1>
    <h2>Nom : {{nom_du_coffre}}</h2>
    <form action="/finaliser" method="post">
        <label for="password">Mot de passe maître</label>
        <input type="text" name="password" id="password">
        <input type="submit" value="Créer">
        <input type="hidden" name="nom" value="{{nom_du_coffre}}">
</body>
</html>
