<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionnaire de Mots de Passe</title>
</head>
<body>
    <h1>Gestionnaire de Mots de Passe</h1>
    <h2>Créer un nouveau coffre</h2>
    <form action="/creer" method="post">
        <label for="nom">Nom du coffre</label>
        <input type="text" name="nom" id="nom">
        <input type="submit" value="Créer">
    </form>
    <h1>Liste des coffres</h1>
    <ul>
        {% for fichier in json_files %}
            {% set nom_sans_extension = fichier.split('.json')[0] %}
            <li><a href="/ouvrir/{{ nom_sans_extension }}">{{ nom_sans_extension }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
