<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionnaire de Mots de Passe</title>
</head>
<body>
    <h1>Bienvenue dans le Gestionnaire de Mots de Passe</h1>
    <p>Choisissez une option :</p>
    <ul>
        <li><a href="/ouvrir">Ouvrir un Coffre-fort Existant</a></li>
        <li><a href="/creer">Créer un Nouveau Coffre-fort</a></li>
        <li><a href="/passwordGen">Générer un mdp</a></li>
    </ul>
    <h1>Liste des coffres</h1>
    <ul>
        {%for fichier in json_files%}
            <li><a href="/ouvrir/{{fichier}}">{{fichier}}</a></li>
        {%endfor%}
    </ul>
</body>
</html>
